@model DispositivoModel
@{
    ViewData["Title"] = "Dispositivos";
}

<div class="text-center">
    <h1 class="display-4">Dispositivos</h1>
</div>


<div style="width:100%; text-align: right; padding: 10px;">
	Pesquisar
	<button onclick="location.href='\\Dispositivo\\Cadastro';" style="text-decoration: none; padding: 10px;">Novo Dispositivo</button>
</div >

<table>
	<tr>
		<th>Dispositivo</th>
		<th>Status</th>
		<th>Açoes</th>
	</tr>
	@{
		foreach (var item in ViewBag.dispositivos)
		{
			<tr>
				<td>@item.Nome</td>
				<td>@item.Ativo</td>
				<td>
					<a asp-controller="Relatorio" asp-action="Index">Últimos registros</a>
					<a asp-controller="Mapa" asp-action="Index">Visualizar localização</a>
					<a asp-controller="Dispositivo" asp-action="Excluir">Excluir</a>
					<a asp-controller="Dispositivo" asp-action="Cadastro">Editar</a>
					
				</td>

			</tr>
		}
	}

</table>