@model LoginModel
@{
	ViewData["Title"] = "Login";
}
@section Script{
	<script src="/js/login.js"></script>
}

<div class="text-center">
	<h1 class="display-4">LOGIN</h1>

	<label for="usuario">Usuário:</label>
	<input type="text" id="usuario">

	<label for="senha">Senha:</label>
	<input type="password" id="senha">

	<button type="button" onclick="Confirmarlogin(document.getElementById('usuario').value,
			document.getElementById('senha').value)">
		ENTRAR
	</button>
</div>

